@charset "UTF-8";
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@media screen and (max-width: 768px) {
  html {
    font-size: 0.9375rem; } }
@media screen and (max-width: 480px) {
  html {
    font-size: 0.8125rem; } }

body, html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234; }

*, *::before, *::after {
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  box-sizing: border-box; }

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .wrapper {
      min-width: auto; } }

.maincontent {
  height: 100%; }

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.section {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.31);
  min-height: 650px; }
  @media screen and (max-width: 768px) {
    .section {
      min-height: auto; } }

.order-link {
  min-width: 6.125rem;
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  transition: .5s; }
  .order-link:hover {
    background-color: #cb411b; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.hero {
  background-image: url(../img/bg/hero_bg.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  justify-content: flex-start; }

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.625rem; }

.header__logo {
  margin-right: auto; }

@media screen and (max-width: 768px) {
  .header__menu {
    display: none; } }

.nav {
  margin-right: 0.9375rem; }

.nav__list {
  margin: 0;
  padding: 0; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 0.15625rem;
    background-color: #fff;
    margin: 0 0.75rem; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.hero__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1; }

.header__hamburger {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  align-items: center;
  margin-left: 1.875rem;
  display: none; }
  @media screen and (max-width: 768px) {
    .header__hamburger {
      display: flex; } }

.header__hamburger-icon, .header__hamburger-icon:before, .header__hamburger-icon:after {
  background: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem; }
.header__hamburger-icon:before, .header__hamburger-icon:after {
  content: "";
  display: block;
  position: absolute; }
.header__hamburger-icon:before {
  top: 0; }
.header__hamburger-icon:after {
  bottom: 0; }

.hero__content {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  align-items: center;
  padding-bottom: 15%; }
  @media screen and (max-width: 768px) {
    .hero__content {
      flex-direction: column;
      align-items: center;
      padding: 0 20%;
      text-align: center; } }

.hero__img, .hero__description {
  display: flex; }
  @media screen and (max-width: 768px) {
    .hero__img, .hero__description {
      width: auto; } }

.hero__img {
  align-items: center;
  max-width: 28.1875rem; }

.hero__img-pic {
  max-width: 100%; }

.hero__description {
  flex-direction: column;
  justify-content: center; }
  @media screen and (max-width: 480px) {
    .hero__description .section__title {
      padding-top: 0;
      line-height: 1; } }

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin', Helvetica, sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
  padding-top: 3.75rem; }
  @media screen and (max-width: 480px) {
    .section__title {
      padding-top: 0; } }

.hero__description-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 4.0625rem;
  font-weight: 500;
  line-height: 1; }
  @media screen and (max-width: 480px) {
    .hero__description-text {
      font-size: 2.875rem; } }

.best {
  background-image: url("../img/bg/best-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.section__title--best {
  color: #2f3234;
  padding: 0;
  margin-bottom: 3.75rem; }
  @media screen and (max-width: 480px) {
    .section__title--best {
      margin-bottom: 0; } }

.best__list {
  display: flex; }
  @media screen and (max-width: 480px) {
    .best__list {
      flex-direction: column; } }

.best__item {
  width: 100%;
  margin: 0 0.9375rem;
  flex: 1; }
  @media screen and (max-width: 480px) {
    .best__item {
      display: flex;
      margin-bottom: 2.5rem; } }

.best__pic {
  height: 5.625rem; }
  .best__pic .best__icon {
    width: 100%;
    height: 100%; }
  .best__pic .best__icon-meat {
    fill: #e25028; }
  .best__pic .best__icon-hand {
    fill: #f8b43a; }
  .best__pic .best__icon-natural {
    fill: #8ac03e; }

@media screen and (max-width: 480px) {
  .best__desc {
    text-align: left; } }

.best__title {
  font-family: 'Lifehack';
  font-size: 1.50625rem;
  margin: 2.5rem 0rem 1.875rem; }
  @media screen and (max-width: 480px) {
    .best__title {
      margin: 0; } }

.best__text {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.87688rem; }

.down-arrow {
  align-content: center;
  margin-bottom: 2.5rem; }
  .down-arrow .down-arrow__icon {
    width: 1.875rem;
    height: 0.9375rem;
    fill: #fff; }

.burgers {
  background: linear-gradient(180deg, #f9b43b 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f9b43b);
  display: flex; }

.slider__wrap {
  display: flex;
  align-items: center;
  width: 95%; }

.slider__item-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  padding-bottom: 3.75rem; }
  @media screen and (max-width: 768px) {
    .slider__item-wrap {
      flex-direction: column;
      align-items: center;
      padding-bottom: 0; } }

.slider__consist-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex; }

.slider__consist {
  width: 5.625rem;
  height: 5.625rem;
  background-color: rgba(228, 80, 40, 0.4);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .slider__consist .slider__consist-icon {
    width: 2.8125rem;
    height: 2.8125rem;
    fill: #fff; }
  .slider__consist:after {
    content: 'состав';
    font-family: 'Gagalin', Helvetica, sans-serif;
    font-size: 0.875rem;
    color: #fff; }
  .slider__consist:hover {
    background-color: #e45028; }
    .slider__consist:hover + .slider__consist-table {
      display: block; }

.slider__consist-table {
  width: 16.875rem;
  height: 20.625rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 1.25rem;
  display: none; }
  .slider__consist-table table {
    width: 100%; }
  .slider__consist-table table > tbody > tr > td {
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    color: #2f3234; }
  .slider__consist-table table > tbody > tr :last-child {
    text-align: right; }
  .slider__consist-table .table__icon {
    width: 2.8125rem;
    height: 2.8125rem; }
  .slider__consist-table .beef, .slider__consist-table .sauce {
    fill: #e25028; }
  .slider__consist-table .buns, .slider__consist-table .cheese {
    fill: #f8b43a; }
  .slider__consist-table .salad, .slider__consist-table .cucumber {
    fill: #8ac03e; }

.slider__calories {
  position: absolute;
  left: 0;
  bottom: 15px;
  opacity: .5; }
  @media screen and (max-width: 768px) {
    .slider__calories {
      top: 0;
      right: 0;
      bottom: auto;
      left: auto; } }

.calories__icon {
  width: 3.75rem;
  height: 3.75rem;
  fill: #fff; }

.calories__info {
  font-family: 'Gagalin', Helvetica, sans-serif;
  font-size: 1.25rem;
  color: #fff;
  position: absolute;
  bottom: -22px;
  left: 0;
  text-align: center;
  line-height: 1.6; }

.slider__left, .slider__right {
  width: 50%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .slider__left, .slider__right {
      width: 90%; } }

@media screen and (max-width: 768px) {
  .slider__right {
    text-align: center; } }

.slider__pic img {
  max-width: 100%;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .slider__pic img {
      max-width: 65%; } }

.slider__title {
  color: #fff;
  padding-top: 0;
  line-height: 1;
  margin-bottom: 1.25rem; }

.slider__desc p {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: #fff;
  line-height: 1.5; }

.slider__info {
  display: flex;
  align-items: baseline;
  justify-content: space-around; }

.slider__price {
  color: #e25028;
  font-family: 'Gagalin', Helvetica, sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.42;
  display: flex;
  align-items: baseline; }
  .slider__price p {
    color: #e45028;
    padding-top: 0; }
  .slider__price:after {
    content: 'рублей';
    font-size: 1.875rem; }

.slider__btn {
  box-sizing: padding-box; }

.owl-prev {
  position: absolute;
  top: 50%;
  left: -5%;
  width: 1.875rem;
  height: 1.875rem;
  background: url(../img/icons/arrow-scroll.svg) center center no-repeat;
  transform: rotate(90deg); }

.owl-next {
  position: absolute;
  top: 50%;
  right: -5%;
  width: 1.875rem;
  height: 1.875rem;
  background: url(../img/icons/arrow-scroll.svg) center center no-repeat;
  transform: rotate(-90deg); }

.team {
  background: url(../img/bg/team.jpg) center center no-repeat;
  background-size: cover;
  position: relative; }

.team__section {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .team__section {
      width: 100%;
      padding: 0; } }

.team__content {
  width: 70%; }
  @media screen and (max-width: 768px) {
    .team__content {
      text-align: center;
      width: 50%; } }
  @media screen and (max-width: 480px) {
    .team__content {
      width: 90%; } }

.team-acco__item {
  margin-bottom: 0.625rem; }
  .team-acco__item.active .team-acco__content {
    height: auto; }
  .team-acco__item.active .team-acco__title {
    color: #f8b43a; }
    .team-acco__item.active .team-acco__title:before {
      transform: rotate(180deg); }

.team-acco__title {
  font-family: 'Gagalin', Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 0.625rem;
  display: flex;
  align-items: center;
  cursor: pointer; }
  .team-acco__title:before {
    content: "";
    width: 0;
    height: 0;
    border: 0.375rem solid transparent;
    border-top-color: #f8b43a;
    border-bottom: none;
    margin-right: 10px; }
  @media screen and (max-width: 768px) {
    .team-acco__title {
      font-size: 1.47813rem;
      display: inline-flex;
      align-items: center; } }

.team-acco__content {
  display: flex;
  overflow: hidden;
  height: 0; }
  @media screen and (max-width: 768px) {
    .team-acco__content {
      flex-direction: column;
      align-items: center; } }

.team-acco__avatar {
  width: 6.25rem;
  height: 6.25rem;
  overflow: hidden;
  border-radius: 50%;
  position: relative; }

.team-acco__avatar-pic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%; }

.team-acco__occ {
  color: #fff;
  font-size: 0.875rem;
  margin-bottom: 0.625rem;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: bold; }

.team-acco__desc-text {
  color: #fff;
  font-size: 0.875rem;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300; }

.menu {
  background: url("../img/bg/menu/menu.jpg") 50% no-repeat;
  background-size: cover;
  position: relative; }

.menu__title {
  position: absolute;
  top: 10%;
  left: 10%; }

.menu-acco {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex; }

.menu-acco__item {
  height: 100%;
  display: flex; }
  .menu-acco__item.active .menu-acco__trigger-text {
    color: #f8b43a; }
  .menu-acco__item.active .menu-acco__content {
    width: 100%;
    max-width: 33.75rem; }

.menu-acco__trigger {
  width: 5rem;
  display: block;
  height: 100%;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .menu-acco__trigger:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(20, 20, 20, 0.7); }
  @media screen and (max-width: 480px) {
    .menu-acco__trigger {
      width: 3.75rem; } }

.menu-acco__trigger-text {
  font-size: 2.5rem;
  color: #fff;
  font-family: 'Gagalin', Helvetica, sans-serif;
  writing-mode: vertical-lr;
  transform: rotate(180deg); }

.menu-acco__content {
  height: 100%;
  float: left;
  background: rgba(47, 50, 52, 0.93);
  width: 0;
  overflow: hidden; }

.menu-acco__text {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: #fff;
  line-height: 1.5rem;
  padding: 3.75rem 1.875rem; }

.reviews {
  display: flex; }

.reviews__list {
  height: 100%;
  display: flex;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%;
  position: relative; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }

.review {
  height: 100%;
  position: relative;
  overflow: hidden; }
  .review:hover .review__hover {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }

.review__photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  filter: grayscale(1); }

.review__hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
  transition: .5s;
  padding: 3.125rem 1.875rem 0rem 1.25rem;
  background-color: rgba(0, 1, 5, 0.7); }
  @media screen and (max-width: 768px) {
    .review__hover {
      padding: 0 8%;
      text-align: center; } }

.review__title {
  font-family: 'Gagalin';
  font-size: 0.875rem;
  margin-bottom: 0.9375rem;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .review__title {
      margin-bottom: 0rem; } }

.review__shorttext {
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 768px) {
    .review__shorttext {
      margin-bottom: 0rem;
      line-height: 1.25rem; } }
  @media screen and (max-width: 480px) {
    .review__shorttext {
      display: none; } }

.review__view {
  display: inline-block;
  width: 6.875rem;
  border-radius: 0.3125rem;
  background-color: #2f3234;
  padding: 0.625rem 0.9375rem;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  transition: .5s; }
  .review__view:hover {
    background-color: #232527; }

.order {
  background: url("./../img/bg/order.jpg") 50% no-repeat;
  background-size: cover;
  display: flex;
  align-items: center; }
  .order .section__title {
    text-align: center; }

.order__form {
  margin-left: -5%;
  display: flex; }
  @media screen and (max-width: 768px) {
    .order__form {
      flex-direction: column;
      align-items: center;
      margin-left: 0; } }

.order__form-col {
  width: 60%;
  margin-left: 5%; }
  @media screen and (max-width: 480px) {
    .order__form-col {
      width: 100%;
      margin-left: 0; } }

.order__form-row {
  margin-bottom: 1rem;
  display: flex;
  min-width: 230px; }

.order__form-label {
  margin-bottom: 1.0625rem;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 0.875rem; }
  @media screen and (max-width: 768px) {
    .order__form-label {
      margin-bottom: 0; } }

.order__form-input {
  font-size: 0.875rem;
  padding: 0.625rem;
  padding: 0.3125rem 0.625rem;
  border: 0.0625rem solid #d1cfcb;
  border-radius: 0.3125rem;
  width: 100%; }

.order__form-block {
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-right: 1.25rem; }
  .order__form-block:after {
    margin-right: 0; }

.order__form-input_textarea {
  height: 6.875rem;
  resize: none; }

.order__radio-title {
  font-size: 0.875rem;
  color: #fff;
  margin-left: 0.625rem;
  cursor: pointer; }

.order__radio-elem + label {
  cursor: pointer; }
.order__radio-elem:not(checked) {
  position: absolute;
  opacity: 0; }
.order__radio-elem:not(checked) + label {
  position: relative;
  padding: 0 0 0 20px; }
.order__radio-elem:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f2f2f2;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2); }
.order__radio-elem:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #e45028;
  opacity: 0; }
.order__radio-elem:checked + label:after {
  opacity: 1;
  transition: .5s; }

.order__checkbox-elem + label {
  cursor: pointer; }
.order__checkbox-elem:not(checked) {
  position: absolute;
  opacity: 0; }
.order__checkbox-elem:not(checked) + label {
  position: relative;
  padding: 0 0 0 20px; }
.order__checkbox-elem:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #CDD1DA;
  background: #FFF; }
.order__checkbox-elem:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 0px;
  width: 15px;
  height: 15px;
  background: url("../../img/icons/check.svg") 50% no-repeat transparent;
  opacity: 0;
  transition: all .2s; }
.order__checkbox-elem:checked + label:after {
  opacity: 1; }

.order__form-button {
  margin-right: 1.25rem;
  border: 0;
  background: #e45028;
  font-size: 0.8125rem;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  color: #ffffff;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  padding: 0.625rem 0.9375rem;
  cursor: pointer; }

.order__form-button_reset {
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  background: transparent; }

.contacts__map {
  height: 100%; }

.footer {
  background: url("../img/bg/footer.jpg") center bottom no-repeat;
  background-size: cover;
  height: 3.75rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.footer__container {
  height: 3.75rem;
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .footer__container {
      flex-direction: column; } }

.footer__col {
  width: 50%; }
  @media screen and (max-width: 480px) {
    .footer__col {
      width: 100%;
      text-align: center; } }

.footer__address {
  color: #ffffff;
  font-size: 0.875rem; }

.footer__phone {
  color: #e45028;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.875rem; }
  .footer__phone .footer__phone-icon {
    fill: #e45028;
    width: 0.75rem;
    height: 0.75rem; }

.footer__col_right {
  margin-bottom: 0;
  display: flex;
  justify-content: flex-end; }
  @media screen and (max-width: 480px) {
    .footer__col_right {
      justify-content: center; } }

.socials {
  display: flex; }
  .socials .socials__item {
    margin-left: 1.25rem; }

.socials__link {
  display: block; }
  .socials__link:hover .socials__link-icon {
    fill: #fff; }

.socials__link-icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: #2f3234; }

.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(47, 50, 52, 0.99);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 3; }

.visible {
  display: flex; }

.fullscreen-menu__logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625rem; }

.fullscreen-menu__item {
  display: block; }

.fullscreen__list {
  display: flex;
  flex-direction: column;
  align-items: center; }

.fullscreen__item:after {
  display: block;
  content: ' ';
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  background-color: #fff;
  margin: .9375rem auto; }

.fullscreen-menu__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.25rem;
  box-sizing: content-box; }

.fixed-menu {
  position: fixed;
  top: 80px;
  right: 45px; }
  @media screen and (max-width: 768px) {
    .fixed-menu {
      display: none; } }

.fixed-menu__item {
  margin-bottom: 10px; }
  .fixed-menu__item.active .fixed-menu__link {
    border-color: #fff; }

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: relative;
  display: block;
  border: 1px solid transparent; }
  .fixed-menu__link:hover {
    border-color: #fff; }
  .fixed-menu__link:before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
