.contacts{

}

.contacts__map-pic{
    background-image: url(../img/bg/map.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
    justify-content: flex-start;
}
