.menu {
	background: url('../img/bg/menu/menu.jpg') 50% no-repeat;
	background-size: cover;
	position: relative;
}

.menu__title {
	position: absolute;
	top: 10%;
	left: 10%;
}

.menu-acco {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
  	display: flex;
}

.menu-acco__item {
	height: 100%;
	display: flex;

	&.active {
		.menu-acco__trigger-text {
			color: $yellow;
		}

		.menu-acco__content{
			width: 100%;
			max-width: rem(540px);
		}
	}
}

.menu-acco__trigger {
	width: rem(80px);
	display: block;
	height: 100%;
	float: left;
	@include cover;
	text-decoration: none;
	position: relative;
	display: flex;
    align-items: center;
    justify-content: center;

	&:before{
		position: absolute;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
    	content: "";
    	background: rgba(20, 20, 20, 0.7);
	}
	
}

.menu-acco__trigger-text {
	font-size: rem(40px);
	color: #fff;
	@include gagalin;
	writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.menu-acco__content {
	height: 100%;
	float: left;
	background: rgba(#2f3234, .93);
	width: 0;
	overflow: hidden;
	transition: 1s;
}

.menu-acco__text {
	@include ubuntu(light);
  	font-size: rem(14px);
  	color: #fff;
  	line-height: rem(24px);
  	padding: rem(60px) rem(30px);
}