.order {
  background: url("./../img/bg/order.jpg") 50% no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  .section__title {
    text-align: center;
  }
}

.order__form {
  margin-left: -5%;
  display: flex;

  @include tablets {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
}

.order__form-col {
  width: 60%;
  margin-left: 5%;

  @include phones {
    width: 100%;
    margin-left: 0;
  }
}

.order__form-row {
  margin-bottom: rem(16px);
  display: flex;
  min-width: 230px;
}

.order__form-label {
  margin-bottom: rem(17px);
  @include ubuntu();
  color: #fff;
  font-size: rem(14px);

  @include tablets{
    margin-bottom: 0;
  }
}

.order__form-input {
  font-size: rem(14px);
  padding: rem(10px);
  padding: rem(5px) rem(10px);
  border: rem(1px) solid #d1cfcb;
  border-radius: rem(5px);
  width: 100%;
}

.order__form-block {
  display: block;
  width: 100%;
  //flex: 1;
  //margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-right: rem(20px);

  &:after{
    margin-right: 0;
  }
}

.order__form-input_textarea {
  height: rem(110px);
  resize: none;
}

.order__radio-title {
  font-size: rem(14px);
  color: #fff;
  margin-left: rem(10px);
  cursor: pointer;
}

.order__radio-elem{

  + label{
    cursor: pointer;
  }

  &:not(checked){
    position: absolute;
    opacity: 0;
  }

  &:not(checked) + label{
    position: relative;
    padding: 0 0 0 20px;
  }

  &:not(checked) + label:before{
    content: '';
    position: absolute;
    top: 1px;
    left: 0px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f2f2f2;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
  }

  &:not(checked) + label:after{
    content: '';
    position: absolute;
    top: 5px;
    left: 4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $red;
    opacity: 0; 
  }

  &:checked + label:after{
    opacity: 1;
    transition: .5s;
  }
}

.order__checkbox-elem{
  
  + label{
    cursor: pointer;
  }
  
  &:not(checked) {
    position: absolute;
    opacity: 0;
  }
  
  &:not(checked) + label {
    position: relative;
    padding: 0 0 0 20px;
  }
  
  &:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #CDD1DA;
    //border-radius: 50%;
    background: #FFF;
  }
  
  &:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 0px;
    width: 15px;
    height: 15px;
    //border-radius: 50%;
    background: url("./../img/icons/check.svg") 50% no-repeat transparent;
    //box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
    opacity: 0;
    transition: all .2s;
  }
  
  &:checked + label:after {
    opacity: 1;
  }
}






.order__form-button {
  margin-right: rem(20px);
  border: 0;
  background: $red;
  font-size: rem(13px);
  text-transform: uppercase;
  border-radius: rem(5px);
  color: #ffffff;
  @include ubuntu(middle);
  padding: rem(10px) rem(15px);
  cursor: pointer;
}

.order__form-button_reset {
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  background: transparent;
}