@mixin circle($width, $color){
    width:$width;
    height: $width;
    border-radius: $width/2;
    background-color: $color;
}

@mixin cover(){
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}